<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="The Hike Club." subTitle="Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="400" src="images/hike-life.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Welcome to The Hike Life</h1>
      <p>Find hikes in your local area - or suggest some of your favourites!</p>
    </div>
  </div>
</div>
